/**
 * @file
 * Styling for the astrology module icons.
 */

/* Small devices (tablets, 768px and up) */
@media(min-width: 768px) {
  .astrology-formatter-link nav ul li {
    float: left;
    margin: 10px 20px;
  }
}
.row {
  clear: both;
  width: 100%;
}
.astrology-formatter-link nav ul li {
  margin: 10px 20px;
}
.astrology-formatter-link nav ul {
  margin: 0;
}
.astrology-formatter-link {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #f6f6f2;
  background: #f6f6f2;
}
.sign-name {
  float: left;
  width: 50%;
  height: 40px;
}
.sign-name img {
  width: 20px;
  height: 20px;
}
.astrology-name-icon-date,
.astrology-about-icon-date {
  float: left;
  margin-right: 1em;
}
.astrology-about-icon-date span,
.astrology-name-icon-date span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.astrology-date {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #f6f6f2;
  background: #f6f6f2;
  margin-bottom: 20px;
  font-size: 15px;
}
.astrology-date span {
  margin-bottom: 10px;
  font-weight: bold;
}
.astrology-body span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.prev.pull-left,
.next.pull-right {
  margin: 0 15px;
}
.astrology-about-body,
.astrology-about-text {
  text-align: justify;
}
.astrology-name-icon-date h1 {
  margin-top: 0;
}
